#!/usr/bin/env ruby
require 'rouge'


asciidoctor_params = { attributes: {
    'source-highlighter' => 'rouge',
    'rouge-css' => 'class',
  }}


passthrough '/robots.txt'

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end


compile '/index.txt' do
  filter :home
  layout '/default.*'
  filter :relativize_paths, type: :html
  write item.identifier.without_ext + '.html'
end


compile '/**/*.adoc' do
  filter :asciidoctor, asciidoctor_params

  layout '/default.*'
  filter :relativize_paths, type: :html

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end


compile '/**/*.rb' do
  filter :article, asciidoctor_params

  layout '/default.*'
  filter :relativize_paths, type: :html

  write '/' + item.identifier.components[0..-2].join('/') + '/index.html'
end


ignore '/**/stat.json'


passthrough '/**/*'

layout '/**/*', :erb
