<!DOCTYPE HTML>
<html>
	<head>
		<title>Mica Sound: Sonic Pi Examples</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="author" content="tkmfujise" />
		<meta name="keywords" content="Sonic Pi, Ruby, sound, music, effect, cc0" />
		<meta name="description" content="Sonic Pi Examples" />
		<link rel="stylesheet" href="/assets/css/almond.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/syntax.gessetti.css">
    <script src="/assets/js/vendor/fuse.js@7.1.0"></script>
    <script src="/assets/js/filter.js"></script>
    <script src="/assets/js/player.js"></script>
    <script src="/assets/js/clipboard.js"></script>
	</head>
  <body>
    <%= render '/main-menu.html' %>
    <div>
      <%= render '/header.html' %>
      <main>
        <article>
          <%= render '/search_form.html' if index? %>
      		<%= yield %>
        </article>
      </main>
      <%= render '/footer.html' %>
    </div>
	</body>
</html>
