<nav class="main-menu closed">
  <button onClick="document.querySelector('.main-menu').classList.toggle('closed');">
    <span>Expand/Collapse menu</span>
  </button>
  <h2>Table of contents</h2>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <div>Typography</div>
      <ul>
        <li><a href="./pages/inline-elements.html">Inline elements</a></li>
        <li><a href="./pages/address.html">Address</a></li>
        <li><a href="./pages/blockquote.html">Blockquote</a></li>
        <li><a href="./pages/fancy-links.html">Fancy links</a></li>
        <li><a href="./pages/headings.html">Headings</a></li>
        <li><a href="./pages/lists.html">Lists</a></li>
        <li><a href="./pages/preformatted-text.html">Preformatted text</a></li>
      </ul>
    </li>
  </ul>
</nav>
