<nav class="main-menu closed">
  <button onClick="document.querySelector('.main-menu').classList.toggle('closed');">
    <span>Expand/Collapse menu</span>
  </button>
  <h2>Gems among stones.</h2>
  <ul>
    <li>
      <a href="/">💎 Home 🪨</a>
    </li>

    <li>
      <div>Samples</div>
      <ul>
        <li><a href="/cc0/sonic_pi/samples">All</a></li>
        <li><a href="/cc0/sonic_pi/samples/original">Originals</a></li>
        <li><a href="/cc0/sonic_pi/samples/rate_0.8">rate 0.8</a></li>
        <li><a href="/cc0/sonic_pi/samples/rate_0.6">rate 0.6</a></li>
        <li><a href="/cc0/sonic_pi/samples/rate_0.4">rate 0.4</a></li>
        <li><a href="/cc0/sonic_pi/samples/rate_0.2">rate 0.2</a></li>
      </ul>
    </li>

    <li>
      <div>Synths</div>
      <ul>
        <li><a href="/cc0/sonic_pi/synths">All</a></li>
        <li><a href="/cc0/sonic_pi/synths/play_30">play 30</a></li>
        <li><a href="/cc0/sonic_pi/synths/play_40">play 40</a></li>
        <li><a href="/cc0/sonic_pi/synths/play_50">play 50</a></li>
        <li><a href="/cc0/sonic_pi/synths/play_60">play 60</a></li>
        <li><a href="/cc0/sonic_pi/synths/play_70">play 70</a></li>
        <li><a href="/cc0/sonic_pi/synths/play_80">play 80</a></li>
        <li><a href="/cc0/sonic_pi/synths/play_90">play 90</a></li>
      </ul>
    </li>

    <li>
      <div>Chord</div>
      <ul>
        <li><a href="/cc0/sonic_pi/arpeggio">Arpeggio</a></li>
      </ul>
    </li>

    <li>
      <div>Rhythm</div>
      <ul>
        <li><a href="/cc0/sonic_pi/rhythms">All</a></li>
        <li><a href="/cc0/sonic_pi/rhythms/straight_8th">Straigth 8th</a></li>
        <li><a href="/cc0/sonic_pi/rhythms/jazz">Jazz</a></li>
        <li><a href="/cc0/sonic_pi/rhythms/blues">Blues</a></li>
        <li><a href="/cc0/sonic_pi/rhythms/funk">Funk</a></li>
      </ul>
    </li>

    <li>
      <div>Mica Sound</div>
      <ul>
        <li><a href="/cc-by/tkmfujise">All</a></li>
        <li><a href="/cc-by/tkmfujise/bgm">Bgm</a></li>
        <li><a href="/cc-by/tkmfujise/environment">Environment</a></li>
        <li><a href="/cc-by/tkmfujise/nature">Nature</a></li>
        <li><a href="/cc-by/tkmfujise/sfx">Sfx</a></li>
        <li><a href="/cc-by/tkmfujise/voice">Voice</a></li>
      </ul>
    </li>

    <li>
      <div>Others</div>
      <ul>
        <li><a href="/cc-by-sa/sonic_pi">Official Examples</a></li>
      </ul>
    </li>

    <li>
      <div>Links</div>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a rel="external" target="_blank" href="https://github.com/tkmfujise/mica-sound/blob/main/LICENSE.md">License</a></li>
        <li><a rel="external" target="_blank" href="https://github.com/tkmfujise/mica-sound">GitHub</a></li>
      </ul>
    </li>
  </ul>
</nav>
