<nav class="main-menu closed">
  <button onClick="document.querySelector('.main-menu').classList.toggle('closed');">
    <span>Expand/Collapse menu</span>
  </button>
  <h2>Gems among stones.</h2>
  <ul>
    <li>
      <a href="/">💎 Home 🪨</a>
    </li>

    <li>
      <div>Categories</div>
      <ul>
        <li><a href="/cc0/sonic_pi/samples">Samples</a></li>
        <li><a href="/cc0/sonic_pi/synths">Synths</a></li>
      </ul>
    </li>

    <li>
      <div>Links</div>
      <ul>
        <li><a href="#">About</a></li>
        <li><a rel="external" target="_blank" href="https://github.com/tkmfujise/mica-sound/blob/main/license.md">License</a></li>
        <li><a rel="external" target="_blank" href="https://github.com/tkmfujise/mica-sound">GitHub</a></li>
      </ul>
    </li>
  </ul>
</nav>
