<span class="search-result-count">-</span> sounds.

<form>
  <p class="search">
    <button id="shuffle-btn" type="button">Shuffle</button>
    <input type="search" />
  </p>
</form>

<div class="sticky">
  <p>
    <audio id="main-audio" preload="" controls>
      Your browser does not support the audio tag.
    </audio>
  </p>

  <details id="play-history">
    <summary>Now: <span class="current">--</span></summary>
    <table>
      <tbody class='container'>
      </tbody>
    </table>
  </details>
</div>

